
<h2 align = "center">Shangrila Letting</h2>
<p align = "center"><i>where happy homes are made</i></p>

<div>
<%= image_tag("room3.jpeg",:size =>"1350x500")%>
</div>

<div align = "center">
Project Name: "Shangrila Lettings"John Flynn, C13731869@dit.ie GitHub: <a href = "https://github.com/fljdev" target = "blank">Find my GitHub here</a>
</div>
